*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
    background-image:url(pattern.png);
    height: 100%;
    font-size: 15px;
}
header{
    background-color:antiquewhite;
    display: flex;
}
h1{
margin: auto;
justify-content:center;
font-size: 400%;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
article{
    font-size: 140%;
    width: 50%;
}
.main{
    padding: 2%;
    display: flex;
}
.content{
background-color: antiquewhite;
margin: auto;
justify-content:center;
width: 1000px;
padding: 1%;
}
.swiper{
    width: 1000px;
    height: 100%;
  }
  .swiper-slide{
    text-align: center;
    font-size: 18px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img{
    width: 58%;
    object-fit: cover;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 140px !important; 
    left: auto;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 140px !important; 
    right: auto;
  }